
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Stardew Valley";
    src: url("/font/StardewValleyRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    min-height: 100vh;
    width: 100%;
    background: url("/image/stardew.png") center / cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}


.menu {
    max-width: 600px;
    width: 90%;
    padding: 32px;
    background: linear-gradient(
        180deg,
        #d49c71,
        #9c6b4c
    );

    border: 6px solid #6b3e1e;
    border-radius: 16px;

    box-shadow:
        0 8px 0 #4a2a14,
        0 12px 20px rgba(0, 0, 0, 0.35);

    font-family: "Stardew Valley", serif;
    font-size: 24px;
    line-height: 1.4;
    color: #1a0f08;
    
    text-align: center;
}


.menu h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #e6c29f;
}

.menu h2 {
    font-family: "pixelify sans", monospace;
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #e6c29f;
}


.menu #btn {
    margin-top: 20px;
    padding: 12px 24px;

    font-family: "pixelify sans", monospace;
    font-size: 22px;

    background: #f3d7a4;
    border: 4px solid #6b3e1e;
    border-radius: 12px;
    cursor: pointer;
}

.menu .optionBtn {
    margin: 10px;
    padding: 12px 24px;

    font-family: "pixelify sans", monospace;
    font-size: 18px;

    background: #f3d7a4;
    border: 4px solid #6b3e1e;
    border-radius: 12px;
    cursor: pointer;
}
.menu #btn:hover {
    background: #ffe6b8;
}

.menu .optionBtn:hover {
    background: #ffe6b8;
}

.menu #scoreText {
    font-weight: bold;
    font-family: Pixelify Sans, monospace;
}

.menu #feedback {
    font-family: Pixelify Sans, monospace;
}

.menu #restartBtn {
    margin-top: 20px;
    padding: 12px 24px;

    font-family: "pixelify sans", monospace;
    font-size: 22px;

    background: #f3d7a4;
    border: 4px solid #6b3e1e;
    border-radius: 12px;
    cursor: pointer;



}

